/* color pallette

*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: black;
    margin: 0px;
    padding: 0px;
    background-color: #e9ecef;
  }
  
  #wrapper {
    width: 1000px;
    margin-left: 100px;
    margin-right: auto;
  height: 1200px;
  background-color:#adb5bd;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 27px 4px rgba(0,0,0,0.68);
  }
  
  h1, h2{
    font-style: italic;
  }
  
  h1{
    font-size: 1.65em;
    letter-spacing: .35em;
  }
  
  h2{
    font-size: 1.3em;
    letter-spacing: .35em;
  }
  
  ul {
    list-style-type: none;
  }
  
  a{
    line-height: 1.6;
  }
  
  a:link,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
  }
  
  label{
    font-weight: bold;
  }
  
  .contactImg{
    border-radius: 45%;
  }
  
  .main{
    margin-right: 10px;
  }
  
  img{
    border-radius: 1px black solid;
  }
  
.flex-item{
  padding: 10px;
}

.services{
  text-align: center;
}

 